<% provide(:title, "Contact") %>
<div class="jumbotron">
  
  <address>
  <strong><%= my_name %></strong><br>
  <abbr title="Location">at:</abbr> <%= my_location %><br>
  <abbr title="Phone">P:</abbr> <%= my_tel %><br>
  <a href="mailto:<%= my_email %>"><%= my_email %></a>
  </address>

  <p>
  I speak <%= my_language %>.
  </p>

</div>
