<footer class="footer">
  <small>
    The Personal Homepage
    by <a href="mailto:<%= my_email %>"><%= my_name %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href=<%= my_github_homepage %>>Github</a></li>
    </ul>
  </nav>
</footer>